.boshmainimg{
    display: flex;
    flex-direction:row;
}

.boshimg{
    width: 100%;
}

.boschhead{
    border-radius: 5px;
    background-color: #EA5E3D;
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.1px;
}

.boshbody{
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.boshpara{
    top:50%;
    background-color:#c6ccd6; 
    font-family: cursive;
    flex: 1;
    padding: 10px; 
    text-align: justify;
    text-justify: inter-word;
}

.container1{
    background-color: #EA5E3D;
    display: flex;
    flex-direction: column;   
}

.row{
   display: flex;
   flex-direction: row;
}

.contactus{
   color: white;
   flex: 1;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 10px;
}

.aboutus{
   color: white;
   flex: 2;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 10px;
   text-align: justify;
   text-justify: inter-word; 
}

.newsletter{
   color: white;
   flex: 1;
   margin: 10px;
}

.lasthead{
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
   text-decoration: underline;
   text-align: center;
}

.footerlast{
   display: flex;
   flex-direction: row;
   justify-content:center;
   color: red;
   background-color: #807171ba;
} 
@media screen and (max-width:700px)
{ 
.boshbody{
   margin-top: auto;
   margin-bottom: auto;
}

.boshmainimg{
   display: flex;
   flex-direction: column;
}

.row{
   display: flex;
   flex-direction:column;
} 

}